{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <p>Test</p>
        {% for item in cart_items %}
            {{ item.product.name }}<br>
            {{ item.colour }}<br>
            {{ item.storage }}<br>
            {{ item.quantity }}<br>
            <br>
        {% endfor %}
    </div>
{% endblock %}