{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-3 mb-3" style="padding: 0; margin-bottom: 0!important;">
    <div class="row" style="width:100%">
        <div class="col-3 d-none d-md-block"></div>
        <div class="col-xs-12 col-md-6 text-center font-weight-bold">
            <h2>Phones. Tablets. <br>Smartwatches.</h2>
            <br>
            <p>The best prices on your favourite devices.</p>
        </div>
        <div class="col-3 d-none d-md-block"></div>
    </div>
    {% include 'includes/deals-carousel.html' %}
    {% include 'includes/display-carousel.html' %}
</div>
{% endblock %}