/* NAVBAR */    

.navbar {
    background-color: #092749;
}

.nav-link,
.navbar-brand {
    text-decoration: none;
    color: white;
}

/* CALLOUT */

#first_call,
#second_call,
#carouselExampleIndicators {
    height: 250px;
}

#first_call_bg,
#second_call_bg { 
    height: 250px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.bundle-image {
    height: 200px;
}

.shop-now {
    border: 2px solid white;
    border-radius: 5px;
}

/* TABLETS */
@media only screen and (min-width: 600px) {
    #bundle-2{
        display: flex !important;
    }
}

/* LARGE LAPTOPS */

@media only screen and (min-width: 1200px) {
    #first_call,
    #second_call,
    #first_call_bg,
    #second_call_bg,
    #carouselExampleIndicators {
    height: 400px;
    }

    .bundle-image {
    height: 350px;
    }
}