/* NAVBAR */    

.navbar {
    background-color: #092749;
}

.nav-link,
.navbar-brand {
    text-decoration: none;
    color: white;
}

/* CALLOUT */

#first_call,
#second_call,
#carouselExampleIndicators {
    height: 250px;
}

#first_call_bg,
#second_call_bg { 
    height: 250px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.bundle-image {
    height: 200px;
}

.shop-now {
    border: 2px solid white;
    border-radius: 5px;
}

#honor-8-pro-image {
    height: 340px;
    padding-top: 20px;
}

/* PHONES */
@media only screen and (max-width: 600px) {
    #bundle-1,
    #bundle-3 {
        padding:0;
        padding-left: 3em;
    }
    
    .bundle-text {
        font-size: 12px;
    }

    .bundle-text .btn {
        font-size: 12px;
        margin-top: 3em !important;
    }
}

@media only screen and (min-width: 425px) and (max-width: 800px) {
    #bundle-1,
    #bundle-3 {
        padding:0;
        padding-left: 5em;
    }
}

/* TABLETS */
@media only screen and (min-width: 600px) {
    #bundle-2,
    #bundle-4,
    #discounted-phone-2 {
        display: flex !important;
        padding: 0;
        padding-left: 2em;
    }

    .bundle-text {
        font-size: 1rem;
    }
}

/* LARGE LAPTOPS */

@media only screen and (min-width: 1200px) {
    #first_call,
    #second_call,
    #first_call_bg,
    #second_call_bg,
    #carouselExampleIndicators {
    height: 400px;
    }

    .bundle-image {
    height: 350px;
    }
}