<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" style="width: 100%; padding: 0;">
    <img id="first_call_bg" src="/media/bundle-background.jpg" alt="First Deal Display Background">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="first_call" class="row">
                <div class="col-3 text-white d-none d-lg-flex pt-3">
                    <div class="mt-4 ml-4">
                        <strong>Bundle & Save</strong><br>
                        <br>
                        <p>Save on a smartwatch with a purchase of a new phone.</p>
                    </div>
                </div>
                <div id="bundle-1" class="col-lg-4 col-xs-12 col-sm-6 d-flex pt-3">
                    <img src="/media/Bundle-01.png" alt="Bundle Deal 1" class="bundle-image">
                    <p class="text-white ml-4 mt-3 bundle-text">APPLE<br>
                        <strong>iPhone 11<br>
                        +</strong><br>
                        APPLE<br>
                        <strong>SE WATCH</strong><br>
                        <button type="button" class="btn btn-outline-light first-shop-now mt-3">Shop Now</button>
                    </p>
                </div>
                <div id="bundle-2" class="col-lg-4 col-xs-12 col-sm-6 d-none pt-3">
                    <img src="/media/Bundle-02.png" alt="Bundle Deal 2" class="bundle-image">
                    <p class="text-white mt-3">SAMSUNG<br>
                        <strong>Galaxy S20<br>
                        +</strong><br>
                        SAMSUNG<br>
                        <strong>Galaxy Watch3</strong><br>
                        <button type="button" class="btn btn-outline-light first-shop-now mt-3">Shop Now</button>
                    </p>
                </div>
            </div>
        </div>
    <div class="carousel-item">
        <div id="first_call_2" class="row">
                <div class="col-3 text-white d-none d-lg-flex pt-3">
                    <div class="mt-4 ml-4">
                        <strong>Bundle & Save</strong><br>
                        <br>
                        <p>Save on a wireless headphones with a purchase of a new phone.</p>
                    </div>
                </div>
                <div id="bundle-3" class="col-lg-4 col-xs-12 col-sm-6 d-flex pt-3">
                    <img src="/media/Bundle-03.png" alt="Bundle Deal 3" class="bundle-image">
                    <p class="text-white ml-4 mt-3 bundle-text">APPLE<br>
                        <strong>iPhone 11<br>
                        +</strong><br>
                        APPLE<br>
                        <strong>SE WATCH</strong><br>
                        <button type="button" class="btn btn-outline-light first-shop-now mt-3">Shop Now</button>
                    </p>
                </div>
                <div id="bundle-4" class="col-lg-4 col-xs-12 col-sm-6 d-none pt-3">
                    <img src="/media/Bundle-04.png" alt="Bundle Deal 4" class="bundle-image">
                    <p class="text-white mt-3">SAMSUNG<br>
                        <strong>Galaxy S20<br>
                        +</strong><br>
                        SAMSUNG<br>
                        <strong>Galaxy Watch</strong><br>
                        <button type="button" class="btn btn-outline-light first-shop-now mt-3">Shop Now</button>
                    </p>
                </div>
        </div>
    </div>
    <div class="carousel-item">
        <div id="first_call_3" class="row">
                <div class="col-3 text-white d-none d-lg-flex pt-3">
                    <div class="mt-4 ml-4">
                        <strong>Discounted Phones</strong><br>
                        <br>
                        <p>Save on a phone for a limited time only!</p>
                    </div>
                </div>
                <div id="discounted-phone-1" class="col-lg-4 col-xs-12 col-sm-6 d-flex pt-3">
                    <img src="/media/products/galaxy_samsung_s8.png" alt="Bundle Deal 3" class="bundle-image">
                    <p class="text-white mt-3 bundle-text">SAMSUNG<br>
                        <strong>Galaxy S8</strong><br>
                        <button type="button" class="btn btn-outline-light first-shop-now mt-3">Shop Now</button>
                    </p>
                </div>
                <div id="discounted-phone-2" class="col-lg-4 col-xs-12 col-sm-6 d-none pt-3">
                    <img src="/media/products/huawei-honor-8-pro.png" alt="Huawei Honor 8 Pro" class="bundle-image honor-8-pro-image">
                    <p class="text-white mt-3">HUAWEI<br>
                        <strong>Honor 8 Pro</strong><br>
                        <button type="button" class="btn btn-outline-light first-shop-now mt-3">Shop Now</button>
                    </p>
                </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>