{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="category_name" class="col-12 mt-5">
            <h3>
                <div id="small-device-page-header" class="d-md-none">
                    {% if category == 'phones' %}
                        <a href="{% url 'products' %}?category={{ category }}{% if current_brand != None %}&brand={{ current_brand }}{% endif %}">Back To Phones</a>
                    {% elif category == 'tablets' %}
                        <a href="{% url 'products' %}?category={{ category }}{% if current_brand != None %}&brand={{ current_brand }}{% endif %}">Back To Tablets</a>
                    {% elif category == 'smart_watches,wireless_headphones' %}
                        <a href="{% url 'products' %}?category={{ category }}{% if current_brand != None %}&brand={{ current_brand }}{% endif %}">Back To Accessories</a>
                    {% else %}
                        <a href="{% url 'products' %}{% if current_brand != None %}?brand={{ current_brand }}{% endif %}">Back To All Products</a>
                    {% endif %}
                </div>
                <nav aria-label="breadcrumb" class="d-none d-md-block">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        {% if category == 'phones,tablets,smart_watches,wireless_headphones' %}
                            {% if current_brand == None %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?brand={{ current_brand }}">{{ current_brand }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% endif %}
                        {% else %}
                            {% if current_brand == None %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}">
                                    {% if category == 'phones' %}
                                        Phones
                                    {% elif category == 'tablets' %}
                                        Tablets
                                    {% elif category == 'smart_watches,wireless_headphones' %}
                                        Accessories
                                    {% endif %}
                                </a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}">
                                    {% if category == 'phones' %}
                                        Phones
                                    {% elif category == 'tablets' %}
                                        Tablets
                                    {% elif category == 'smart_watches,wireless_headphones' %}
                                        Accessories
                                    {% endif %}</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}&brand={{ current_brand }}">{{ current_brand }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% endif %}
                        {% endif %}
                    </ol>
                </nav>
            </h3>
        </div>
        <div class="col-12 col-md-7 product-detail-margin">
            <img id="product-detail-image" src="{{ product.image }}" alt="{{ product.brand }}{{ product.name }}">
        </div>
        <div id="product-detail-info" class="col-12 col-md-5 product-detail-margin">
            <h2 class="mt-5"><strong>{{ product.brand }}</strong></h2>
            <h3>{{ product.name }}</h3> <br>
            {{ product.rating }} <br>
            <hr class="product-detail-divider">
            <h3>Memory</h3>
            <button type="button" class="btn btn-outline-dark">{{ product.storage_cap }}</button><button type="button" class="btn btn-outline-dark">{{ product.storage_cap }}</button>
            <hr class="product-detail-divider">
            <h3>Colour</h3>
            <form><input type="radio" name="Colour" id="colour"><input type="radio" name="Colour" id="colour"><input type="radio" name="Colour" id="colour"></form>
            <hr class="product-detail-divider">
            <h2>£{{ product.price }}</h2>
            <button> ADD TO CART </button>
        </div>
    </div>
{% endblock %}