{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col"></div>
    </div>
    <div id="products-display" class="row">
        <div id="brands" class="col-2" style="border-right: solid 2px blue; text-align: center;">
            <a href="{% url 'products' %}" class="text-muted brand-item">All</a><br>
            <a href="{% url 'products' %}?brand=Apple" class="text-muted brand-item">Apple</a><br>
            <a href="{% url 'products' %}?brand=Samsung" class="text-muted brand-item">Samsung</a><br>
            <a href="{% url 'products' %}?brand=Huawei" class="text-muted brand-item">Huawei</a><br>
            <a href="{% url 'products' %}?brand=LG" class="text-muted brand-item">LG</a><br>
            <a href="{% url 'products' %}?brand=HTC" class="text-muted brand-item">HTC</a><br>
            <a href="{% url 'products' %}?brand=Oppo" class="text-muted brand-item">Oppo</a><br>
            <a href="{% url 'products' %}?brand=OnePlus" class="text-muted brand-item">OnePlus</a><br>
        </div>
        <div class="col-10">
            <div class="row">
            {% for product in products %}
                <div class="col-3 d-inline product-display-box ml-5 mr-5 mt-5 mb-5">
                    <img class="product-display-image" src="{{ product.image }}" alt="{{ product.brand }}{{ product.name }}">
                    <p>
                        <strong> {{ product.brand }} </strong><br>
                        {{ product.name }}<br>
                        {{ product.rating }}<br>
                        £{{ product.price }}<br>
                        <input type="checkbox" name="compare" id="{{ product.id }}_compare">
                        <label for="comapre">Compare</label>
                    </p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}