{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="category_name" class="col-12 mt-5">
            <div id="small-device-page-header" class="d-md-none">
                <h3>
                    {% if category == 'phones' %}
                        <a href="{% url 'products' %}?category={{ category }}{% if current_brand != None %}&brand={{ current_brand }}{% endif %}">Back To Phones</a>
                    {% elif category == 'tablets' %}
                        <a href="{% url 'products' %}?category={{ category }}{% if current_brand != None %}&brand={{ current_brand }}{% endif %}">Back To Tablets</a>
                    {% elif category == 'smart_watches,wireless_headphones' %}
                        <a href="{% url 'products' %}?category={{ category }}{% if current_brand != None %}&brand={{ current_brand }}{% endif %}">Back To Accessories</a>
                    {% else %}
                        <a href="{% url 'products' %}{% if current_brand != None %}?brand={{ current_brand }}{% endif %}">Back To All Products</a>
                    {% endif %}
                </h3>
            </div>
            <div aria-label="breadcrumb" class="d-none d-md-block">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if category == 'phones,tablets,smart_watches,wireless_headphones' %}
                        {% if current_brand == None %}
                            {% if query == None %}
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?q={{ query }}">"{{ query }}"</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% endif %}
                        {% else %}
                            {% if query == None %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?brand={{ current_brand }}">{{ current_brand }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products'%}?q={{ query }}">"{{ query }}"</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?q={{ query }}&brand={{ current_brand }}">{{ current_brand }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if current_brand == None %}
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}">
                                {% if category == 'phones' %}
                                    Phones
                                {% elif category == 'tablets' %}
                                    Tablets
                                {% elif category == 'smart_watches,wireless_headphones' %}
                                    Accessories
                                {% endif %}
                            </a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}">
                                {% if category == 'phones' %}
                                    Phones
                                {% elif category == 'tablets' %}
                                    Tablets
                                {% elif category == 'smart_watches,wireless_headphones' %}
                                    Accessories
                                {% endif %}</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}&brand={{ current_brand }}">{{ current_brand }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.brand }} {{ product.name }}</li>
                        {% endif %}
                    {% endif %}
                </ol>
            </div>
        </div>
        <div class="col-12 col-md-7 product-detail-margin">
            <img id="product-detail-image" src="{{ product.image }}" alt="{{ product.brand }}{{ product.name }}">
        </div>
        <div id="product-detail-info" class="col-12 col-md-5 product-detail-margin">
            <h2 class="mt-5"><strong>{{ product.brand }}</strong></h2>
            <h3>{{ product.name }}</h3> <br>
            <!--<i class="fas fa-star"></i> FULL STAR 
            <i class="far fa-star"></i>  EMPTY STAR 
            <i class="fas fa-star-half-alt"></i> HALF STAR -->
            {% if product.rating == 0.00 %}
                <h3><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 0.50 %}
                <h3><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 1.00 %}
                <h3><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 1.50 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 2.00 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 2.50 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 3.00 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 3.50 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 4.00 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></h3>
            {% elif product.rating == 4.50 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></h3>
            {% elif product.rating == 5.00 %}
                <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h3>
            {% else %}
                <h3>No Rating Available!</h3>
            {% endif %}
            <hr class="product-detail-divider">
            <form action="" method="POST">
                <h3>Memory</h3>
                {% if storage_1 == "False" %}
                    <span>No Storage On This Device!</span>
                {% else %}
                    <button type="button" id="storage_1" class="stg_btn btn btn-outline-dark">{{ storage_1 }}</button>
                {% endif %}
                    <input id="storage_cap" class="d-none" type="radio" name="storage_cap" value="{{ storage_1 }}" selected>
                {% if storage_2 != None %}
                    <button type="button" id="storage_2" class="stg_btn btn btn-outline-dark">{{ storage_2 }}</button>
                {% endif %}
                {% if storage_3 != None %}
                    <button type="button" id="storage_3" class="stg_btn btn btn-outline-dark">{{ storage_3 }}</button>
                {% endif %}
                <hr class="product-detail-divider">
                <h3>Colour</h3>
                <div class="form-check form-check-inline">
                    <div class="custom-radio-outer">
                        <div class="custom-radio-inner d-none" style="background-color:{{ hex_1 }};"></div>
                    </div>
                    <input class="form-check-input d-none" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </div>
                {% if colour_2 != None %}
                <div class="form-check form-check-inline">
                    <div class="custom-radio-outer">
                        <div class="custom-radio-inner d-none" style="background-color: {{ hex_2 }}"></div>
                    </div>
                    <input class="radio-btn form-check-input d-none" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                </div>
                {% endif %}
                {% if colour_3 != None %}
                <div class="form-check form-check-inline">
                    <div class="custom-radio-outer">
                        <div class="custom-radio-inner d-none" style="background-color: {{ hex_3 }}"></div>
                    </div>
                    <input class="radio-btn form-check-input d-none" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                </div>
                {% endif %}
                {% if colour_4 != None %}
                <div class="form-check form-check-inline">
                    <div class="custom-radio-outer">
                        <div class="custom-radio-inner d-none" style="background-color: {{ hex_4 }}"></div>
                    </div>
                    <input class="radio-btn form-check-input d-none" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
                </div>
                {% endif %}
                {% if colour_5 != None %}
                <div class="form-check form-check-inline">
                    <div class="custom-radio-outer">
                        <div class="custom-radio-inner d-none" style="background-color: {{ hex_5 }}"></div>
                    </div>
                    <input class="radio-btn form-check-input d-none" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option3">
                </div>
                {% endif %}
                {% if colour_6 != None %}
                <div class="form-check form-check-inline">
                    <div class="custom-radio-outer">
                        <div class="custom-radio-inner d-none" style="background-color: {{ hex_6 }}"></div>
                    </div>
                    <input class="radio-btn form-check-input d-none" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option3">
                </div>
                {% endif %}
                <hr class="product-detail-divider">
                <h2>£{{ product.price }}</h2>
                <button type="submit"> ADD TO CART </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $('#storage_1').click(function() {
        $('#storage_cap').val('{{ storage_1 }}');
        $('.stg_btn').removeClass('stg-active');
        $(this).addClass('stg-active');
    });
    $('#storage_2').click(function() {
        $('#storage_cap').val('{{ storage_2 }}');
        $('.stg_btn').removeClass('stg-active');
        $(this).addClass('stg-active');
    });
    $('#storage_3').click(function() {
        $('#storage_cap').val('{{ storage_3 }}');
        $('.stg_btn').removeClass('stg-active');
        $(this).addClass('stg-active');
    });

    $('.custom-radio-outer').click(function() {
        $('.custom-radio-inner').addClass('d-none');
        $(this).children().removeClass('d-none');
    });
</script>
{% endblock %}