{% extends 'base.html' %}
{% block content %}
    <div id="product-top" class="row">
        <div class="col"></div>
    </div>
    <div id="products-display" class="row">
        <div id="brands" class="col-2">
            <i id="brand-filter-icon" class="fas fa-cogs d-sm-block d-md-block d-lg-none"></i><br class="d-sm-none d-md-block">
            <div id="brand-filters" class="d-lg-block" style="display: none;">
                <div id="page_description" class="d-sm-none"><h3 class="colour-blue">ALL PRODUCTS</h3></div>
                <a href="{% url 'products' %}?category={{ category }}" class="text-muted brand-item">All Brands</a><br>
                <a href="{% url 'products' %}?brand=Apple&category={{ category }}" class="text-muted brand-item">Apple</a><br>
                <a href="{% url 'products' %}?brand=Samsung&category={{ category }}" class="text-muted brand-item">Samsung</a><br>
                <a href="{% url 'products' %}?brand=Huawei&category={{ category }}" class="text-muted brand-item">Huawei</a><br>
                <a href="{% url 'products' %}?brand=LG&category={{ category }}" class="text-muted brand-item">LG</a><br>
                <a href="{% url 'products' %}?brand=HTC&category={{ category }}" class="text-muted brand-item">HTC</a><br>
                <a href="{% url 'products' %}?brand=Oppo&category={{ category }}" class="text-muted brand-item">Oppo</a><br>
                <a href="{% url 'products' %}?brand=OnePlus&category={{ category }}" class="text-muted brand-item">OnePlus</a><br>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div id="category_name" class="col-6 col-md-8">
                    <h3>
                        <div id="small-device-page-header" class="d-md-none">
                            {% if category == 'phones' %}
                                Phones
                            {% elif category == 'tablets' %}
                                Tablets
                            {% elif category == 'smart_watches,wireless_headphones' %}
                                Accessories
                            {% else %}
                                All Products
                            {% endif %}
                        </div>
                        <nav aria-label="breadcrumb" class="d-none d-md-block">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                {% if category == 'phones,tablets,smart_watches,wireless_headphones' %}
                                    {% if current_brand == None %}
                                        <li class="breadcrumb-item active" aria-current="page">All Products</li>
                                    {% else %}
                                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ current_brand }}</li>
                                    {% endif %}
                                {% else %}
                                    {% if current_brand == None %}
                                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            {% if category == 'phones' %}
                                                Phones
                                            {% elif category == 'tablets' %}
                                                Tablets
                                            {% elif category == 'smart_watches,wireless_headphones' %}
                                                Accessories
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}">All Products</a></li>
                                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ category }}">
                                            {% if category == 'phones' %}
                                                Phones
                                            {% elif category == 'tablets' %}
                                                Tablets
                                            {% elif category == 'smart_watches,wireless_headphones' %}
                                                Accessories
                                            {% endif %}</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ current_brand }}</li>
                                    {% endif %}
                                {% endif %}
                            </ol>
                        </nav>
                    </h3>
                </div>
                <div class="col-6 col-md-4">
                    <div>
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                {% for product in products %}
                    <div class="col-11 col-md-5 col-lg-3 d-inline product-display-box product-margin">
                        <a href="{% url 'product_detail' product.id %}">
                        <div class="d-flex justify-content-center">
                            <img class="product-display-image d-flex justify-content-center" src="{{ product.image }}" alt="{{ product.brand }}{{ product.name }}">
                        </div>
                        <p>
                            <strong> {{ product.brand }} </strong><br>
                            <span class="product_name">{{ product.name }}</span><br><br>
                            <span class="product_rating">{{ product.rating }}</span><br><br>
                            <span class="product_price">£{{ product.price }}</span><br><br>
                            <input class="product_compare" type="checkbox" name="compare" id="{{ product.id }}_compare">
                            <label class="ml-2" for="comapre">Compare</label>
                        </p>
                        </a>
                    </div>
                {% endfor %}
                {% if not products %}
                    <div class="col-3"></div>
                    <div class="col-6" style="height: 900px">
                        <img src="/media/sad_face.png" alt="Sad Face" class="product-display-image d-flex justify-content-center" style="margin-top: 50%; margin-right: auto; margin-left: auto;">
                        <h3 style="text-align: center;">
                            Sorry, We Couldn't Find Any Products That Matched Your Search!
                        </h3>
                    </div>
                    <div class="col-3"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
    
    </script>
{% endblock %}